.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
}
.dialogsItems {
  padding: 10px;
}
.dialog {
}
.dialog a.activ {
  border: 2px black solid;
}

.messages {
  padding: 10px;
}
.message {
}
