.content {
  grid-area: c;
  padding: 8px;
}

.header {
  display: block;
  margin: 8px auto;
}

.userInfo {
  display: flex;
  justify-content: left;
}

.avatar {
  width: 200px;
}

.description {
  padding-left: 16px;
}

.form{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 8px;
}
.addPost{
  border-radius: 20%;
  background-color: purple;
}

.post {
  background-color: #d497d4;
  padding: 8px;
  margin-bottom: 8px;
}
